.book-card {
    display: flex;
    background-color: whitesmoke;
    overflow: hidden;
    border-radius: 10px;
}

.book-card:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.book-cover {
    display: flex;
    width: 100%;
    height: 200%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.book-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-info {
    padding: 15px;
}

.book-info h3 {
    font-size: 20px;
    font-weight: bold;
    color: #646cff;
    line-height: 1;
}

/* 공통 스타일: 모든 텍스트 항목에 대해 동일한 스타일 적용 */
.book-info p {
    font-size: 14px;   /* 모든 텍스트 크기를 동일하게 */
    color: #333;       /* 진한 회색으로 설정 */
    margin: 5px 0;     /* 간격을 좀 더 줘서 각 항목이 명확하게 구분되도록 */
}

.book-info .author { /* 저자만 굵게 */
    color: #2c3e50;     /* 어두운 회색으로 색상 설정 */
}

.book-info .publisher {
    font-weight: normal; /* 출판사는 기본 폰트로 설정 */
    color: #2c3e50;      /* 어두운 회색으로 색상 설정 */
}

.book-info .isbn,
.book-info .genre {
    font-weight: normal; /* ISBN과 장르는 기본 폰트로 설정 */
    color: #555;         /* 밝은 회색으로 설정 */
}
