.sidebar {
    width: 200px; /* 필요 시 사이드바 폭 */
    background-color: #f5f5f5;
    padding: 16px;
    box-sizing: border-box;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin: 0 10px;
}

.sidebar nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

.sidebar nav ul li a:hover {
    background-color: #2c3e50;
    border-left-color: greenyellow;
    color: white;
}

.sidebar nav ul li.active {
    background-color: #2c3e50;
    border-left-color: greenyellow;
    color: white;
    font-weight: bold;
}

.logout-button {
    background-color: #b60839;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 50%;
    border-radius: 8px;
    transition: background-color 0.3s;
}