*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    height: 100%;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.container{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.main-content {
    flex:1;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.btn-add {
    background-color: blueviolet;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: black;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 auto;
    width: 100%;
}

main {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

/*#root {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/

/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/
